/* Navbar styles starts */
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #2A2C7F;
              position: sticky;
              top: 0;
            }

            li {
              float: left;
            }

            .nav_links{
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }

            li:hover{
              background-color: #275C6E;
            }

            .active {
              background-color: #2A2C7F;
            }
            #nav {
              overflow: hidden;
              width: 100vw;
              position: fixed;
              left: 50%;
              right: 50%;
              margin-left: -50vw;
              margin-right: -50vw;
              top: 0;
            }
/* Navbar styles ends */

/* Table styles begin */
      table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        font-size: 90%;
      }
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      th{
        color: #99004d;
      }
/* Table styles end */





    button [type=submit]{

      /* remove default behavior */
      appearance:none;
      -webkit-appearance:none;

      /* usual styles */
      padding:10px;
      border:none;
      background-color:#3F51B5;
      color:#fff;
      font-weight:600;
      border-radius:5px;
      width:100%;

    }


    #ajoutter_nouveau{
        text-decoration: none;
        background-color: #99004d;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    body{
        font-family: arial, sans-serif;
    }
    .main {
      margin-top: 60px;
    }
    h4{
        float: right;
        text-decoration: none;
    }
    h4: hover{
        font-size: 120%;
    }
